{% extends 'Base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    <title>Login</title>
    {% endblock %}

{% block first %}

<div class='container' style='width: 60%;'>
    <form method='post' class='jumbotron'> 
        {% csrf_token %}
        <label for='un'>username</label>
        <input type='text' name='uname' id='un' class='form-control' placeholder="enter username">
        <label for='un'>password</label>
        <input type='password' name='password' id='un' class='form-control' placeholder="enter username">

        <br><br>
        {% if messages %}
        {% for msg in messages %}
        <p style="color: red;">  {{msg}}</p>
      
        {% endfor %}
        {% endif %}
    <button type='submit' class='btn btn-success'>Login</button> 

    </form>
</div>


{% endblock %}